@import url('https://fonts.google.com/specimen/DM+Sans');

:root {
    --clr-Purple-500: hsl(256, 67%, 59%);
    --clr-Purple-100: hsl(254, 88%, 90%);

    --clr-Yellow-500: hsl(39, 100%, 71%);
    --clr-Yellow-100: hsl(31, 66%, 93%);

    --clr-Black: hsl(0, 0%, 7%);
    --clr-White: hsl(0, 0%, 100%);

    --ff-base: 'DM Sans', sans-serif;

    --fw-bold: 500;
    --fw-base: 400;
}

/*
  CSS RESET
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

ul,
li {
    list-style: none;
}

/***********
   main Css
************/
body {
    --radius: 0.5rem;
    --margin-bottom: 1.5rem;
    font-size: 18px;
    font-family: var(--ff-base);
    font-weight: var(--fw-base);
    color: var(--clr-Black); 
}

.container {
    padding: 2rem 1rem;
}

.section1 {
    background-color: var(--clr-Purple-500);
    margin-bottom: 1.5rem;
    padding: 2.5rem;
    border-radius: var(--radius);
    color: var(--clr-White);
    text-align: center;
}

.section1 h1 {
    font-weight: var(--fw-bold);
    font-size: 2rem;
    margin-bottom: var(--margin-bottom);
}

.section1 span {
    color: var(--clr-Yellow-500);
}

.section1 img {
    margin: 0.5rem auto;
    max-width: 75%;
}

.section2 {
    background-color: var(--clr-White);
    margin-bottom: var(--margin-bottom);
    padding: 1rem;
    border-radius: var(--radius);
}

.section2 h2 {
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    margin-top: 1rem;
}

.section3 {
    background-color: var(--clr-Yellow-500);
    padding: 1rem 5rem 0 1rem;
    border-radius: var(--radius);
    margin-bottom: var(--margin-bottom);
}

.section3 h2{
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
}

.section4 {
    background-color: var(--clr-Purple-100);
    margin-bottom: var(--margin-bottom);
    border-radius: var(--radius);
    padding: 1rem;
    text-align: center;
}

.section4 h2 {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.section4 img {
    margin: 1rem 0;
}

.section5 {
    background-color: var(--clr-Purple-500);
    border-radius: var(--radius);
    font-weight: var(--fw-bold);
    margin-bottom: var(--margin-bottom);
    text-align: center;
    color: var(--clr-White);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    line-height: 2ch;
}

.section5 img {
    margin-bottom: 2rem;
}

.section6 {
    background-color: var(--clr-White);
    border-radius: var(--radius);
    margin-bottom: var(--margin-bottom);
    padding: 1rem 5rem 1rem 1rem;
    font-size: 1.2rem;
}

.section6 span {
    display: block;
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
}

.section6 img {
    margin-top: 1rem;
    width: 85%;
}

.section7 {
    padding: 2rem;
    background-color: var(--clr-Yellow-100);
    margin-bottom: var(--margin-bottom);
    border-radius: var(--radius);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.section7 span {
    color: var(--clr-Purple-500);
    font-style: italic;
}

.section7 img {
    width: 65%;
    margin-top: 1.5rem;
}

.section8{
    background-color: var(--clr-Yellow-500);
    margin-bottom: var(--margin-bottom);
    border-radius: var(--radius);
    padding: 2rem 3rem 2rem 2rem;
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.section8 img {
    width: 70%;
    margin-top: 1.5rem;
}

@media (min-width: 376px) {
    body {
        --margin-bottom: 0rem;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  1fr;
        grid-template-areas: 
            'a b b c'
            'a e f c'
            'd e f c'
            'd g h h'
                    ;
    }
    
    .section1 {
        grid-area: b;
        font-size: 1.5rem;
    }

    .section1 h1 {
        font-size: 4rem;
    }

    .section1 img {
        width: 45%;
    }

    .section2 {
        grid-area: e;
        padding: 1rem;
    }

    .section2 h2 {
        font-size: 2.5rem;
        line-height: 2ch;
    }

    .section3 {
        grid-area: f;
        padding: 1rem;
    }

    .section3 h2 {
        font-size: 2.5rem;
        line-height: 2ch;
    }

    .section4 {
        grid-area: c;
        text-align: start;
        padding: 2rem;
    }

    .section4 h2 {
        font-size: 2.5rem;
    }

    .section4 p {
        font-size: 1.5rem;
    }

    .section5 {
        grid-area: h;
        display: flex;
        align-items: center;
        padding: 1rem;
        text-align: start;
        gap: 2rem;
        font-size: 1.5rem;
    }

    .section5 img {
        width: 40%;
        margin: 0;
    }

    .section6 {
        grid-area: g;
        padding: 1rem;
        font-size: 1rem;
    }

    .section6 span {
        font-size: 4rem;
    }
    .section7 {
        grid-area: a;
        font-size: 2rem;
        line-height: 2ch;
        padding: 1rem;
    }

    .section8 {
        grid-area: d;
        font-size: 2rem;
        line-height: 2ch;
        padding: 1rem;
    }

    .section8 img {
        width: 100%;
    }
}
 
